# IBM Cloud watsonx.ai Service Credentials
IBM_CLOUD_API_KEY=DAuS95G1i1PiRoGuPswy53oXh-CPIp1xbr-NCBO_wP_s
IBM_PROJECT_ID=08ab7762-cfbd-4be6-b1ed-b7c03df4a3cf
IBM_ENDPOINT_URL=https://us-south.ml.cloud.ibm.com
IBM_MODEL_ID=ibm/granite-8b-code-instruct

# IBM Cloudant NoSQL Database Configuration
# Username is 'apikey', password is the Cloudant api key.
# URL format: https://<account_id>-bluemix.cloudantnosqldb.appdomain.cloud
# Leaving these empty will fallback to local_db.json file database
IBM_CLOUDANT_URL= 
IBM_CLOUDANT_API_KEY=DAuS95G1i1PiRoGuPswy53oXh-CPIp1xbr-NCBO_wP_s

# IBM Cloud Object Storage (COS) Configuration
# Endpoint format: https://s3.<region>.cloud-object-storage.appdomain.cloud
# Leaving these empty will fallback to local folder storage (uploads/)
IBM_COS_API_KEY= DAuS95G1i1PiRoGuPswy53oXh-CPIp1xbr-NCBO_wP_s
IBM_COS_ENDPOINT=
IBM_COS_BUCKET=

# Application Configurations
SECRET_KEY=super-secret-session-key-12345
APP_NAME=IBM Interview Trainer Agent
DEBUG=True
PORT=8000
HOST=0.0.0.0
